html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 20px;
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  background-color: #f5f3f4;
}
@media screen and (min-width: 800px) {
  body {
    width: 1040px;
    margin: 20px auto;
  }
}

h2 {
  color: #0d47a1;
  font-size: 30px;
}

h3 {
  font-size: 20px;
  margin: 0;
  background-color: #0d47a1;
  color: white;
  border-radius: 7px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header__logo {
  display: flex;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .header__logo {
    display: flex;
    margin: 0;
  }
}
.header__svg-book {
  max-width: 100%;
}
.header__h1 {
  margin: 0;
  color: #0d47a1;
  font-size: 2.5em;
  height: 60px;
}
.header__h2 {
  margin: 0;
  color: #2f80ed;
  font-size: 16px;
}
.header__title {
  margin-left: 10px;
}
.header__right-menu {
  display: none;
}
@media screen and (min-width: 800px) {
  .header__right-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
    justify-content: space-between;
  }
  .header__item {
    flex: 1 1 auto;
  }
  .header__item--active {
    color: #fcce00;
  }
}
@media screen and (min-width: 800px) and (min-width: 800px) {
  .header__item--active {
    color: #fcce00;
  }
}
@media screen and (min-width: 800px) {
  .header__link {
    background-image: linear-gradient(to right, #56ccf2 0%, #0d47a1 25%, #56ccf2 100%);
    margin: 5px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 7px;
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .header__link:hover {
    background-position: right center;
    color: #0d47a1;
    text-decoration: none;
  }
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  border: solid 1px #0d47a1;
  color: #0d47a1;
  padding: 2px;
  border-radius: 7px;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__link {
  background-image: linear-gradient(to right, #56ccf2 0%, #2f80ed 51%, #56ccf2 100%);
  margin: 5px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 7px;
  display: block;
}
.menu__link:hover {
  background-position: right center;
  color: #0d47a1;
  text-decoration: none;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}
@media screen and (min-width: 800px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex !important;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .menu__item {
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .upper__image {
    min-height: 185px;
    background: url(../images/never-stop-learning.jpg) no-repeat right center/cover;
    border-radius: 7px;
    margin: 5px;
    margin-bottom: 20px;
  }
}

.glide__next-to {
  text-align: center;
}
.glide__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 800px) {
  .glide__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    margin-bottom: 20px;
  }
  .glide__next-to {
    width: 510px;
    padding: 0 0 0 10px;
    align-self: center;
  }
  .glide__right {
    width: 515px;
  }
}
.glide__slide img {
  width: 100%;
  border-radius: 7px;
}
.glide__slide {
  position: relative;
}
.glide__desc {
  position: absolute;
  left: 10%;
  bottom: 5%;
  right: 10%;
  color: white;
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: center;
}

.offer {
  display: block;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .offer {
    display: flex;
    gap: 10px;
    text-align: center;
    margin: 0 5px 20px 5px;
  }
  .offer__content {
    height: 200px;
  }
}
.offer__link-upper {
  color: white;
  text-decoration: none;
}
.offer__link-upper:hover {
  color: #2f80ed;
}
.offer__link:visited {
  color: grey;
}
.offer__button {
  background-image: linear-gradient(to right, #56ccf2 0%, #2f80ed 51%, #56ccf2 100%);
  margin: 5px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 7px;
  display: block;
}
.offer__button:hover {
  background-position: right center;
  color: #0d47a1;
  text-decoration: none;
}
.offer__box {
  background-color: white;
  border-radius: 7px;
  flex: 0 0 calc((100% - 30px) / 4);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.offer p {
  padding: 5px;
}

button {
  background-color: transparent;
  border: none;
  margin: 10px;
}
@media screen and (min-width: 800px) {
  button {
    margin: 30px 10px 10px 10px;
  }
}

.offer-spec {
  background-color: lightgray;
  padding-bottom: 20px;
}
.offer-spec h2 {
  text-align: center;
}
.offer-spec__content {
  text-align: center;
  margin-bottom: 20px;
}
.offer-spec__box {
  background-color: white;
  border-radius: 7px;
  margin-bottom: 20px;
}
@media screen and (min-width: 800px) {
  .offer-spec {
    text-align: center;
    background-color: lightgray;
    padding-bottom: 20px;
    padding-top: 5px;
  }
  .offer-spec__content {
    display: flex;
    text-align: center;
    margin: 0 0 20px 5px;
  }
  .offer-spec__box {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    flex: 0 0 calc((100% - 25px) / 3);
  }
}
.offer-spec__link-upper {
  color: white;
  text-decoration: none;
}
.offer-spec__link-upper:hover {
  color: #2f80ed;
}
.offer-spec p {
  padding: 5px;
  margin: 0;
}
.offer-spec__button {
  background-image: linear-gradient(to right, #56ccf2 0%, #2f80ed 51%, #56ccf2 100%);
  margin: 5px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 7px;
  display: block;
}
.offer-spec__button:hover {
  background-position: right center;
  color: #0d47a1;
  text-decoration: none;
}
.offer-spec__icon {
  width: 20%;
  align-self: center;
  margin-top: 8px;
}

.group-language-desc {
  padding: 0 5px;
}
.group-language-desc ul {
  padding: 0 5px;
  font-size: 14px;
  list-style: none;
}
.group-language-desc li {
  display: inline-block;
}
.group-language-desc h2 {
  text-align: center;
}
.group-language-desc h3 {
  padding: 0 5px;
  display: inline;
}
.group-language-desc__p {
  padding: 0 5px;
  text-align: justify;
}

.language {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
}
.language__text {
  color: #0d47a1;
  font-size: 20px;
}
.language__content {
  text-align: center;
  flex-direction: column;
  display: flex;
  text-decoration: none;
}
.language__box {
  background-color: white;
  border-radius: 7px;
  margin-bottom: 20px;
  display: block;
  gap: 10px;
  flex-direction: column;
  flex: 0 0 calc(100% - 25px);
}
@media screen and (min-width: 800px) {
  .language {
    text-align: center;
    background-color: lightgray;
    padding-top: 20px;
  }
  .language__content {
    display: flex;
    text-align: center;
  }
  .language__box {
    margin-right: 10px;
    flex: 0 0 calc((100% - 25px) / 4);
  }
  .language__icon {
    width: 20%;
  }
}
.language__icon {
  align-self: center;
  margin-top: 8px;
}

.footer {
  background-color: #2f80ed;
  height: 250px;
}
.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__item {
  color: white;
  text-align: center;
  line-height: 1.4;
}
@media screen and (min-width: 800px) {
  .footer {
    height: 60px;
  }
  .footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 16px;
    flex-wrap: wrap;
  }
  .footer__item {
    width: 80px;
    line-height: 15px;
    text-align: center;
    color: white;
  }
}
.footer__link {
  text-decoration: none;
}
.footer a {
  color: white;
}
.footer a:hover, .footer a:focus {
  color: #0d47a1;
}/*# sourceMappingURL=style.css.map */