$primary: rgb(6, 6, 160);
$secondary: #2f80ed;
$third: yellow;

$font-main-text: "Cairo", sans-serif;

$padding-block: 20px;

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
 
  margin: 20px auto;
  font-family: $font-main-text;
  font-size: 16px;
  background-color: #F5F3F4;
  width: 1040px;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  &__logo {
    display: flex;
    margin: 0;
    // width: 350px;
    
  }

  &__svg-book {
    max-width: 100%;
  }

  &__h1 {
    margin: 0;
    color: $primary;
    font-size: 2.5em;
    height: 60px;
  }

  &__h2 {
    margin: 0;
    color: $secondary;
    font-size: 16px;
  }
  &__title {
    margin-left: 10px;
  }

  &__right-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
    justify-content: space-between;
  }
  &__item {
    flex: 1 1 auto;
  }
  &__link {
    background-image: linear-gradient(
      to right,
      #56ccf2 0%,
      #0D47A1 25%,
      #56ccf2 100%
    );
    margin: 5px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 7px;
    display: block;
  }
  &__link:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
  }
 
  

}
.menu {
    margin-bottom: 10px;

  &__link {
    background-image: linear-gradient(
      to right,
      #56ccf2 0%,
      #2f80ed 51%,
      #56ccf2 100%
    );
    margin: 5px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 7px;
    display: block;
  }

  &__link:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__item {
    flex: 1 0 auto;
  }
}

.upper__image {
	min-height: 185px;
	background: url(../images/never-stop-learning.jpg) no-repeat right center/cover;
    border-radius: 7px;
    margin: 5px;
}

.glide__slide img {
  width: 100%;
  opacity: 60%;
  /* height: 800px; */
}

.glide__section {
width: 800px;
}

.glide__desc {
  position: absolute;
  left: 10%;
  bottom: 5%;
  right: 10%;
  color: black;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

.glide__slide {
  position: relative;
 
 }