.individual-course-desc {
    padding: 0 5px;
  
    ul {
      padding: 0 5px;
      font-size: 14px;
      list-style: none;
    }
  
    li {
      display: inline-block;
    }
  
    h2 {
      text-align: center;
    }
  
    h3 {
      padding: 0 5px;
      display: inline;
    }
  
    &__p {
      padding: 0 5px;
      text-align: justify;
    }
  }