@use 'variables';

.offer-spec {
    background-color: lightgray;
    padding-bottom: $margin-bottom;
  
    & h2 {
      text-align: center;
    }
    &__content {
      text-align: center;
      margin-bottom: $margin-bottom;
    }
    &__box {
      background-color: $third;
      border-radius: $b-radius;
      margin-bottom: $margin-bottom;
    }
  
    @media screen and (min-width: 800px) {
      text-align: center;
      background-color: lightgray;
      padding-bottom: $margin-bottom;
      padding-top: 5px;
  
      &__content {
        display: flex;
        text-align: center;
        margin: 0 0 $margin-bottom 5px;
      }
      &__box {
        display: flex;
        gap: 10px;
        margin-right: 10px;
        flex-direction: column;
        background-color: $third;
        border-radius: $b-radius;
        flex: 0 0 calc((100% - 25px) / 3);
      }
    }
  
    &__link-upper {
      color: $third;
      text-decoration: none;
      &:hover {
        color: $secondary;
      }
    }
  
    & p {
      padding: 5px;
      margin: 0;
    }
  
    &__button {
      background-image: linear-gradient(
        to right,
        #56ccf2 0%,
        #2f80ed 51%,
        #56ccf2 100%
      );
      margin: 5px;
      padding: 5px;
      text-align: center;
      transition: 0.5s;
      background-size: 200% auto;
      text-decoration: none;
      color: $third;
      box-shadow: 0 0 20px #eee;
      border-radius: $b-radius;
      display: block;
    }
  
    &__button:hover {
      background-position: right center;
      color: $primary;
      text-decoration: none;
    }
    &__icon {
      width: 20%;
      align-self: center;
      margin-top: 8px;
    }
  }
  