<div class="footer">
    <div class="footer__flexbox">

        <ul class="footer__links">
            <li class="footer__item">&copy;2021, Lekcio</li>
            <li class="footer__item"><a href="/" class="footer__link">Úvod</a></li>
            <li class="footer__item"><a href="/skupinove-kurzy/" class="footer__link">Skupinové kurzy</a></li>
            <li class="footer__item"><a href="/individualni-kurzy/" class="footer__link">Individuální kurzy</a></li>
            <li class="footer__item"><a href="/firemni-kurzy/" class="footer__link">Firemní kurzy</a></li>
            <li class="footer__item"><a href="/pomaturitni-studium/" class="footer__link">Pomaturitní studium</a></li>
            <li class="footer__item"><a href="/online-kurzy/" class="footer__link">Online kurzy</a></li>
            <li class="footer__item"><a href="/obchodni-podminky/" class="footer__link">Obchodní podmínky</a></li>
            <li class="footer__item"><a href="/skupinove-kurzy/zapis-terminy/" class="footer__link">Termíny zápisů</a>
            </li>
            <li class="footer__item"><a href="/ucebny/" class="footer__link">Učebny</a></li>
            <li class="footer__item"><a href="/kontakt/" class="footer__link">Kontakt</a></li>
        </ul>
    </div>
</div>