<li class="header__item"><a href="#" class="header__link header__item--active">Ostatní</a>
    <ul class="header__submenu">
        <li class="header__subitem"><a href="/novinky/" class="header__sublink">Novinky</a></li>
        <li class="header__subitem"><a href="/ucebny/" class="header__sublink">Učebny</a></li>
        <li class="header__subitem"><a href="/kariera/" class="header__sublink">Kariéra</a></li>
    </ul>
</li>
<li class="header__item"><a href="/test/" class="header__link header__item--active">Testy</a></li>
<li class="header__item"><a href="/kontakt/" class="header__link header__item--active">Kontakt</a></li>