<div class="header__logo">

    <img src="/images/book.svg" class="header__svg-book" alt="Logo-slovnik">

    <div class="header__title">
        <h1 class="header__h1">Lekcio</h1>
        <h2 class="header__h2">jazyková škola</h2>
    </div>
</div>